@import "tailwindcss";

@theme {
  --color-background: #0b0b0f;
  --color-surface: #15151c;
  --color-accent: #e50914;
  --color-border: #27272a;
  --color-muted: #a1a1aa;
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}